[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django = "*"
dj-database-url = "*"
uvicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
