[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django-debug-toolbar = "*"
whitenoise = "*"
gunicorn = "*"
django = "==3.2.1"
dj-database-url = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
