{% load static %}
{% load i18n %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/logo.css' %}"> {% endblock %}
<nav class="navbar navbar-expand-sm navbar-light bg-danger bg-gradient p-3">
  <div class="container-fluid">
    <a href="{% url 'Project_list' %}" class="navbar-brand">
      <img src="{% static 'images/logo.svg' %}" alt="Logo" class="logo">
      <span class="sr-only">Home</span> <!-- This span is for screen readers -->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Project_list' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Project_create' %}">Create Project</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mb-2 mb-lg-0 me-3 ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello {{ user.username|title }} Welcome Back
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item btn btn-link">Logout</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <form method="GET" action="{% url 'Project_list' %}" class="d-flex">
        <div class="input-group">
          <input class="form-control" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
          <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </form>
      {% else %}
      <div class="btn-group">
        <a class="btn btn-outline-light" href="{% url 'register' %}">{% trans 'Register' %}</a>
        <a class="btn btn-outline-light" href="{% url 'login' %}">{% trans 'Login' %}</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
